kube-apiserver-arg:
  - 'audit-log-path=/var/log/kubernetes/audit/audit.log'
  - 'audit-policy-file=/etc/rancher/k3s/audit.yaml'
  - 'audit-log-maxage=30'
  - 'audit-log-maxbackup=10'
  - 'audit-log-maxsize=100'